.icon
  @include aic-jcc
  width: rem(20)
  height: rem(20)
  position: relative
  z-index: 1
  
  svg
    width: rem(20)
    height: rem(20)


  &_fill
    svg
      stroke: none

  &_stroke
    svg
      fill: none    
