.connect-element
  .logo

  div
    .connect-element__wrap
      svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
        path.svg-elem-1(d='M25.6285 24.3545L22.328 20.9937C20.1021 23.2504 18.7227 26.3726 18.7227 29.8174C18.7227 33.2625 20.1049 36.3773 22.328 38.6446L25.6285 35.2793C24.7917 34.4254 24.1463 33.3715 23.7698 32.1968H36.2322C35.8558 33.3715 35.2104 34.4254 34.3708 35.2793L37.674 38.6446C39.9016 36.3773 41.2763 33.2625 41.2763 29.8174C41.2763 26.3726 39.9016 23.2504 37.674 20.9937L34.3708 24.3545C35.2104 25.208 35.8558 26.2639 36.2322 27.4383H23.7698C24.1463 26.2639 24.7917 25.208 25.6285 24.3545Z' fill='white')
        path.svg-elem-2(d='M41.2417 17.3622C44.3826 20.5537 46.3221 24.9593 46.3221 29.8174C46.3221 34.6756 44.3826 39.0829 41.2417 42.2657L44.5443 45.6338C48.5336 41.5794 51 35.9858 51 29.8174C51 23.648 48.5336 18.0555 44.5443 14L41.2417 17.3622ZM18.7555 17.3622L15.4527 14C11.4691 18.0555 9 23.648 9 29.8174C9 35.9858 11.4691 41.5794 15.4527 45.6338L18.7614 42.2716C15.6205 39.0829 13.6779 34.6756 13.6779 29.8174C13.6779 24.9607 15.6205 20.5537 18.7555 17.3622Z' fill='white')

    .connect-element__status.connect-element__status_connecting Connect... 
    .connect-element__status.connect-element__status_connected You are logged in 

    p.copyright
      | Powered by
      a(href='https://hoteza.com/kz/' target='_blank')
        svg(width='103' height='16')
          use(xlink:href='#copyright')
