.rating
  input(type="hidden")
  span Rate the quality
  
  .rating__wrap(data-total-val="1")
    each item in [5,4,3,2,1]
      .rating__item(data-val=item)
        .icon.icon_stroke
          svg
            use(xlink:href='#star')

