.preloader#preloader
  .preloader__icon
    .preloader__element
      svg(width='86' height='64' viewBox='0 0 86 64' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M33.8976 20.7994L27.1921 14C22.6698 18.5658 19.8672 24.8825 19.8672 31.8517C19.8672 38.8217 22.6754 45.1236 27.1921 49.7105L33.8976 42.902C32.1974 41.1744 30.8862 39.0423 30.1213 36.6657H55.4408C54.6759 39.0423 53.3647 41.1744 51.659 42.902L58.37 49.7105C62.8958 45.1236 65.6887 38.8217 65.6887 31.8517C65.6887 24.8825 62.8958 18.5658 58.37 14L51.659 20.7994C53.3647 22.5262 54.6759 24.6626 55.4408 27.0385H30.1213C30.8862 24.6626 32.1974 22.5262 33.8976 20.7994Z' fill='black')

    .preloader__element
      svg(width='86' height='64' viewBox='0 0 86 64' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M65.4834 6.7244C71.7651 13.1074 75.6442 21.9186 75.6442 31.6348C75.6442 41.3511 71.7651 50.1658 65.4834 56.5313L72.0885 63.2676C80.0672 55.1587 85 43.9716 85 31.6348C85 19.296 80.0672 8.11094 72.0885 0L65.4834 6.7244ZM20.5111 6.7244L13.9053 0C5.93823 8.11094 1 19.296 1 31.6348C1 43.9716 5.93823 55.1587 13.9053 63.2676L20.5227 56.5432C14.241 50.1658 10.3558 41.3511 10.3558 31.6348C10.3558 21.9214 14.241 13.1074 20.5111 6.7244Z' fill='black')

    
