@import 'blocks/mixins/_flex'
@import 'blocks/mixins/_rem'
@import 'blocks/mixins/_media'
@import 'node_modules/normalize.css/normalize'
@import 'node_modules/swiper/swiper-bundle.min'
@import 'node_modules/@fancyapps/ui/dist/fancybox/fancybox'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap')
$wc: #fff	
$tr: all .3s

body
	font-family: var(--font-family-desktop)
	font-weight: var(--font-weight-desktop)
	color: var(--text-color-primary-desktop)
	min-width: rem(320)
	position: relative
	overflow-x: hidden
	line-height: rem(16.8)

	@media only screen and (min-width: 0px) and (max-width: 767px)
		font-family: var(--font-family-mobile)
		font-weight: var(--font-weight-mobile)
		color: var(--text-color-primary-mobile)