extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  - var activeBtnLink = '4';
block title
  | Access by Voucher
block main

block form
  
  .input
    input(type="text" placeholder="Voucher" name="Access by Voucher") 

  button.button.button_gradient.w100p.mb-15 
    span Connect