extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  - var activeBtnLink = '5';

block title
  | Click and Go
block main

block form
  
  button.button.button_gradient.w100p.mb-15 
    span Connect

 

