extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  - var activeBtnLink = '3';

block title
  | Conference
block main
block form
  
  .input
    input(type="text" placeholder="Conference code" name="Conference") 

  button.button.button_gradient.w100p.mb-15 
    span Connect


    

